{$BASE_DOMAIN} {
  file_server

  basicauth /apps/* {
    {$HTTP_USER} {$HTTP_PASS}
  }

  reverse_proxy /apps/tautulli localhost:8181
  reverse_proxy /apps/flood localhost:3000
  reverse_proxy /apps/jackett localhost:9117
  reverse_proxy /apps/sonarr localhost:8989
  reverse_proxy /apps/radarr localhost:7878
  reverse_proxy /apps/overseerr localhost:5055
}